<h4>Results</h4>
@if(RpeCalcResults != null && RpeCalcResults.TargetSets != null){
    <div>Prev 1RM:   @RpeCalcResults.PrevOneRepMax</div>
    <div>Target 1RM: @RpeCalcResults.TargetOneRepMax</div>
    
    <ol>
        @foreach (var set in RpeCalcResults.TargetSets)
        {
            <li>@set.TargetWeight x @set.TargetReps @@ @set.TargetRpe</li>   
        }
    </ol>
}
@code {
    [Parameter]
    public ResultItem RpeCalcResults {get; set;}
}
